<%- layout('./layouts/boilerplate') %>

<div class="container d-flex justify-content-center align-items-center p-5">
  <form class="form col-6 needs-validation" action="/login" method="post" novalidate>
    <h1 class="text-center my-3">Login to <span class="green">CycleShop</span></h1>
    <h5 class="text-center my-3">Don't have an account yet? <a class="green-dark" href="/register">Register</a></h5>
    <div class="input-group mb-3">
      <span class="input-group-text">Username</span>
      <input type="text" name="username" id="user[username]" class="form-control" placeholder="Username" required />
      <!-- <span class="input-group-text">suffix</span> -->
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Password</span>
      <input type="password" name="password" id="user[password]" class="form-control" placeholder="Password" required />
      <!-- <span class="input-group-text">suffix</span> -->
    </div>
    <button type="submit" class="d-block btn btn-success w-100">
      Login
    </button>
  </form>
</div>