<%- layout('./layouts/boilerplate') %>

<div class="container d-flex justify-content-center align-items-center p-5">
  <form class="form needs-validation col-6" action="/users" method="post" novalidate>
    <h1 class="text-center mb-3">Register to <span class="green">CycleShop</span></h1>

    <div class="input-group mb-3">
      <span class="input-group-text">Username</span>
      <input type="text" name="user[username]" id="user[username]" class="form-control" placeholder="Username" required />
      <!-- <span class="input-group-text">suffix</span> -->
    </div>
    <div class="input-group mb-3 gap-2">
      <span class="input-group-text">First name</span>
      <input type="text" name="user[firstName]" id="user[firstName]" class="form-control" placeholder="e.g. Roy" required />
      <span class="input-group-text">Last name</span>
      <input type="text" name="user[lastName]" id="user[lastName]" class="form-control" placeholder="e.g. Dadon" required />
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Date of birth</span>
      <input type="date" name="user[birthDate]" id="user[birthDate]" class="form-control" placeholder="05/10/1996" required />
      <!-- <span class="input-group-text">suffix</span> -->
    </div>
    <div class="input-group mb-3 gap-2">
      <span class="input-group-text">City</span>
      <input type="text" name="city" id="user[city]" class="form-control" placeholder="e.g. Tel Aviv" required />
      <span class="input-group-text">State</span>
      <input type="text" name="state" id="user[state]" class="form-control" placeholder="e.g. Hamerkaz" required />
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Country</span>
      <input type="text" name="country" id="user[country]" class="form-control" placeholder="Country" required />
      <!-- <span class="input-group-text">suffix</span> -->
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Email</span>
      <input type="text" name="user[email]" id="user[email]" class="form-control" placeholder="e.g. cycleshop@gmail.com" required />
      <!-- <span class="input-group-text">suffix</span> -->
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Phone (Optional)</span>
      <input type="phone" name="user[phone]" id="user[phone]" class="form-control" placeholder="e.g. +972" />
      <!-- <span class="input-group-text">suffix</span> -->
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Alternative phone (Optional)</span>
      <input type="phone" name="user[phoneAlt]" id="user[phoneAlt]" class="form-control" placeholder="e.g. +972" />
      <!-- <span class="input-group-text">suffix</span> -->
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Password</span>
      <input type="password" name="password" id="user[password]" class="form-control" placeholder="Password" required />
      <!-- <span class="input-group-text">suffix</span> -->
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Confirm password</span>
      <input type="password" name="confirmPassword" id="passwordConfirm" class="form-control" />
      <!-- <span class="input-group-text">suffix</span> -->
    </div>
    <button type="submit" class="d-block btn btn-success w-100">
      Register
    </button>
  </form>
</div>