<%- layout('./layouts/boilerplate') %>

<section class="container gap-3 grid my-4">
  <div class="row mb-3">
    <div class="col">
      <h1 class="bold d-inline-block">About <span class="green">CycleShop</span></h1>
      <p class="d-inline-block">
        Welcome to CycleShop, your one-stop platform for connecting buyers and sellers in a vibrant marketplace dedicated to cycling enthusiasts. Our platform combines the best of social networking and e-commerce, making it easy to buy, sell, and discover cycling gear while connecting with like-minded individuals.
      </p>
    </div>
    <img src="./imgs/aboutPage.png" class="object-fit-cover col-7">
    <div class="row mb-3">
      <img src="./imgs/aboutPage_2.png" class="object-fit-cover col-6">

      <div class="col">
        <h1>Easy to use <span class="green">marketplace</span></h1>
        <p>Whether you're looking for second-hand bikes, accessories, or simply want to share your cycling journey, CycleShop provides a secure and user-friendly space to explore.
          With robust authentication, seamless product listings, and responsive design, we aim to deliver an exceptional experience for every user. Join our community and ride into the future with CycleShop!</p>

      </div>
    </div>
  </div>
</section>